/* adding dimensions, color, shappe, font to My Logo */
.my-logo {
  height: 16px;
  left: 7px;
  color: #6070ff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.section_nav {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.page_links {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  padding-right: 32px;
}

/* positioning all the elements in the header element inline */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}

/* positioning my social media icons */
.icon-a {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
  list-style-type: none;
  padding-left: 0;
}

/* positioning the whole body and placing a background color */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

.works {
  display: grid;
  height: auto;
  background: #e5e5e5;
}

/* Working on header position */
header {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  padding-bottom: 56.01px;
}

/* position the whole section and background image */
#begin {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  padding-top: 0;
  background-image: url("./pics/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Positioning introduction text and styling introduction text */
.warm {
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #091e42;
}

/* styling further intro */
.intro-a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

/* styling the let's connect text */
.connect-a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

/* adding hover button interactions */
.connect-a:hover {
  cursor: pointer;
}

.my-logo:hover {
  cursor: pointer;
}

img[src*="twitter_bird.png"]:hover {
  cursor: pointer;
}

img[src*="linked_in_logo.svg"]:hover {
  cursor: pointer;
}

img[src*="M.svg"]:hover {
  cursor: pointer;
}

img[src*="github_cat.svg"]:hover {
  cursor: pointer;
}

img[src*="peace.svg"]:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  margin: 20px;
  margin-left: 0;
}

/* placing a border box around the cards */
.card {
  border: solid 1px #dfe1e6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 15px;
}

/* position the experience-container */
.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
}

/* styling the descriptive-heading */
.descreptive-heading {
  font-weight: bold;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
}

/* styling canopy */
.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end-dev {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

/* styling paragraph class */
.paragraph {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

/* styling multiple buttons */
.language-button {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: 0;
}

.l-button {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  border: none;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 8px;
}

.l-button:hover {
  cursor: pointer;
}

.seen-project {
  color: #396df2;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  border: 0.5px solid #396df2;
  font-weight: 700;
  font-size: 17px;
}

.seen-project:hover {
  cursor: pointer;
}

#about-myself {
  border-top-right-radius: 80px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 60px;
}

.intro {
  font-weight: bold;
  color: #172b4d;
  font-size: 40px;
}

.hello {
  font-size: 16px;
  color: #344563;
  font-weight: normal;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
  width: 50%;
}

.resume {
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.single {
  display: flex;
  float: left;
  padding: 12px;
}

.java {
  padding-top: 30px;
  padding-left: 60px;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
}

.individual-language {
  border: none;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.tools {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.individual-tool {
  display: flex;
  justify-content: space-between;
  border-bottom: #dfe1e6 solid 0.5px;
  padding-bottom: 24px;
  padding-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.fix {
  height: 12px;
  left: 10px;
  top: 6px;
  padding-top: 20px;
  padding-right: 50px;
}

img[src*="Union.png"] {
  height: 12px;
  width: 20px;
  left: 10px;
  top: 6px;
}

.languages:hover {
  cursor: pointer;
}

.resume:hover {
  cursor: pointer;
}

button:hover:enabled {
  background-color: #fff !important;
}

button:hover:hover {
  background-color: #6070ff !important;
  color: #fff !important;
}

button:hover:active {
  background-color: #2230d2 !important;
  color: #fff !important;
}

button:hover:disabled {
  background-color: #fff !important;
}

#contact_form {
  display: flex;
  flex-direction: column;
  background-image: url("./pics/contact.png");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 80px;
  background-position: 100%;
  padding: 25px;
  align-content: center;
  margin-top: 100px;
}

.contact_heading {
  padding-top: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  font-style: normal;
}

.contact_text {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
}

form {
  padding: 20px;
  align-items: center;
  padding-left: 0;
}

.form_input {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
}

.submission {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
}

.bottom_section {
  background-color: white;
  border-top-right-radius: 80px;
}

@media (min-width: 600px) {
  .enabled_png {
    display: none;
  }
  .color_header{
    background-color: #ffffff;
  }
  #begin {
    background-image: url("./pics/desktop_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .form_input{
    border-radius: 2px;
    width: 40%;  
  } 
  #contact_form{
    background-image: url("./pics/contact_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #6070FF;
    
  }
  
}

@media (max-width: 600px) {
  .page_links {
    display: none;
  }
}
