.my-logo {
  height: 16px;
  left: 7px;
  color: #6070ff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

/* @keyframes rotate-logo {
  to {
    transform: rotateZ(360deg);
  }
} */


.section_nav {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.page_links {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  padding-right: 32px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}

.icon-a {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
  list-style-type: none;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

.works {
  display: grid;
  height: auto;
  background: #e5e5e5;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 56.01px;
  background-color: #fff;
}

#begin {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  padding-top: 0;
  background-image: url("./pics/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.warm {
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #091e42;
}

.intro-a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect-a:hover {
  cursor: pointer;
}

.my-logo:hover {
  cursor: pointer;
}

img[src*="twitter_bird.png"]:hover {
  cursor: pointer;
}

img[src*="linked_in_logo.svg"]:hover {
  cursor: pointer;
}

img[src*="M.svg"]:hover {
  cursor: pointer;
}

img[src*="github_cat.svg"]:hover {
  cursor: pointer;
}

img[src*="peace.svg"]:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  margin: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 88px;
  margin-top: 88px;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
}

.descreptive-heading {
  font-weight: bold;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end-dev {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.paragraph {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.language-button {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: 0;
}

.l-button {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  border: none;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 8px;
}

.l-button:hover {
  cursor: pointer;
}

.seen-project {
  color: #396df2;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  border: 0.5px solid #396df2;
  font-weight: 700;
  font-size: 17px;
}

.seen-project:hover {
  cursor: pointer;
}

#about-myself {
  border-top-right-radius: 80px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 60px;
}

.intro {
  font-weight: bold;
  color: #172b4d;
  font-size: 40px;
}

.hello {
  font-size: 16px;
  color: #344563;
  font-weight: normal;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
  width: 50%;
}

.resume {
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.single {
  display: flex;
  float: left;
  padding: 12px;
}

.java {
  padding-top: 30px;
  padding-left: 60px;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
}

.individual-language {
  border: none;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 0;
}

.tools {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.individual-tool {
  display: flex;
  justify-content: space-between;
  border-bottom: #dfe1e6 solid 0.5px;
  padding-bottom: 24px;
  padding-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.fix {
  height: 12px;
  left: 10px;
  top: 6px;
  padding-top: 20px;
  padding-right: 50px;
}

img[src*="Union.png"] {
  height: 12px;
  width: 20px;
  left: 10px;
  top: 6px;
}

.languages:hover {
  cursor: pointer;
}

.skills:hover {
  cursor: pointer;
}


.resume:hover {
  cursor: pointer;
}

button:hover:enabled {
  background-color: #fff;
}

button:hover:hover {
  background-color: #6070ff;
  color: #fff;
}

button:hover:active {
  background-color: #2230d2;
  color: #fff;
}

button:hover:disabled {
  background-color: #fff;
}

#contact_form {
  display: flex;
  flex-direction: column;
  background-image: url("./pics/contact.png");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 80px;
  background-position: 100%;
  padding: 25px;
  align-content: center;
  margin-top: 100px;
}

.contact_heading {
  padding-top: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  font-style: normal;
}

.contact_text {
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
}

form {
  padding: 20px;
  align-items: center;
  padding-left: 0;
}

.form_input {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
}

small {
  font-weight: bold;
  background-color: #f00;
  color: white;
}

.submission {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
}

.bottom_section {
  background-color: white;
  border-top-right-radius: 80px;
}

@media (min-width: 481px) and (min-width: 768px) {
  .enabled_png {
    display: none;
  }

  .color_header {
    background-color: #fff;
  }

  #begin {
    background-image: url("./pics/desktop_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 40px;
    padding-bottom: 255px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form_input {
    border-radius: 2px;
    width: 40%;
  }

  #contact_form {
    background-image: url("./pics/contact_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #6070ff;
  }

  .seperate_container {
    display: flex;
    flex-direction: row;
    grid-gap: 46px;
    width: 100%;
  }

  .screenshot {
    width: 100%;
    width: 544px;
    height: 448px;
    border-radius: 8px;
  }

  .seperate {
    width: 100%;
  }

  .experience-container {
    display: inline-flex;
  }

  .my-logo {
    margin-top: 25px;
    margin-left: 155px;
  }

  .canopy,
  .back-end-dev {
    padding-right: 12px;
    padding-left: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .seen-project {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    width: auto;
  }

  .descreptive-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .seperate_container_y {
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 46px;
    width: 100%;
  }

  .card {
    margin: 70px;
  }

  .split {
    display: flex;
    flex-direction: row;
    grid-gap: 46px;
    width: 100%;
  }

  .individual_split {
    width: 100%;
  }

  .section_nav {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-right: 120px;
  }

  .languages {
    display: flex;
    flex-direction: row;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto;
    }

  .java {
    padding-left: 15px;
  }

  header {
    background-color: #fff;
  }

  .chirp {
    padding-right: 21px;
  }

  .contact_text {
    padding-inline: 200px;
  }

  #about-myself {
    padding-inline: 100px;
  }

  .mobile-menu {
    display: none;
  }

  .close-button {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* Desktop modal */
  .project-details-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 80%;
    margin: 30px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #dfe1e6;
    border-radius: 3%;
    padding: 2%;
    overflow-y: auto;
  }

  .snapshot_popup_desktop {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .desktop_work_description {
    display: flex;
  }

  .see-source {
    display: flex;
    width: 62%;
    margin-right: 92px;
    height: 34px;
    font-size: 12px;
    padding: 4px;
  }

  .live-class, .source-class {
    text-decoration: none;
  }

  .see-source-img {
    padding-left: 15px;
  }

  .desktop_project_detail_paragraph {
    margin-right: 10%;
  }

  .modal-details-content {
    width: 90%;
    background-color: white;
  }

  .showModal {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 768px) and (max-width: 1100px) {
  .page_links {
    display: none;
  }

  header {
    padding: 4%;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #6070ff;
    mix-blend-mode: multiply;
    transition: 200ms ease-in-out;
    transform: scale(0);
    z-index: 10;
  }

  .mobile-menu.active {
    transform: scale(1);
  }

  .mobile-menu-header {
    display: flex;
    justify-content: flex-end;
  }

  .mobile-menu nav {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4%;
  }

  .close-button {
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: none;
    font-size: 2.25rem;
    font-weight: 100;
  }

  .hamburger {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .hamburger:hover:enabled {
    background-color: #fff;
  }

  .hamburger:hover:hover {
    background-color: #fff;
    color: #fff;
  }

  .hamburger:hover:active {
    background-color: #fff;
    color: #fff;
  }

  .hamburger:hover:disabled {
    background-color: #2230d2;
  }

  .project-details-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 15px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #dfe1e6;
    border-radius: 3%;
    padding: 2%;
    overflow-y: auto;
  }

  .see-source {
    display: flex;
    width: 62%;
    margin-right: 80px;
    height: 48px;
    font-size: 13px;
    padding: 15px;
  }

  .live-class, .source-class {
    text-decoration: none;
  }

  .see-source-img {
    padding-left: 15px;
  }

  .modal-details-content {
    width: 90%;
    background-color: white;
  }

  .showModal {
    visibility: visible;
    opacity: 1;
  }
}

.screenshot {
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.screenshot:hover {
  transform: scale(1.05);
}

.screenshot_container {
  width: 100%;
}

.blur {
  position: fixed;
  filter: blur(8px);
}

.project-detail {
  height: 90vh;
  width: 90vw;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #d3d4e2;
  mix-blend-mode: multiply;
  transition: 200ms ease-in-out;
  transform: scale(0);
  z-index: 10;
}

.project-detail.active {
  transform: scale(1);
  background-color: white;
}

.project-detail-buttons {
  display: flex;
  padding-bottom: 14%;
}

.project-detail-header {
  display: flex;
  justify-content: space-between;
}

.close-button-project {
  background: none;
  border: none;
  font-size: 40px;
}

/* MODAL CODE */

/* .split-em {
  display: flex;
} */